.footer__container {
  border-radius: 20px 20px 0px 0px;
  opacity: 0.9;
  background: #fffbfb;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 3rem;

  width: 99.3vw;
  height: auto;
  overflow-x: hidden;

  h5 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 32.76px;
  }

  h6 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 32.76px;
  }

  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 22.76px;
  }

  figure {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem 0;
  }

  img {
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 578px) {
  .footer__container {
    padding: 0.1rem 3.3rem;
    height: auto;

    & h5 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 10px;
      font-weight: normal;
      line-height: 18.76px;
      margin-top: 0.5rem;
    }

    & h6 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 10px;
      font-weight: normal;
      line-height: 32.76px;
    }

    & h4 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 22px;
      font-weight: normal;
      line-height: 32.76px;
    }

    & .footer__left {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & figure {
        display: flex;
        width: auto;
        padding: 0.5rem 0;
      }
    }

    & img {
      margin-right: 0.3rem;
    }
  }
}
