@import url(/styles/navbar.css);

/*----------------------------------------TIENDA-------------------------------------------------------*/

.container {
  width: 100vw;
  height: auto;
  display: flex;
  margin-top: 6vh;
  box-sizing: border-box;
  gap: 5rem;
}

aside {
  width: 12vw;
  min-width: 120px;
  height: auto;
  padding: 0.5rem;
  position: sticky;
  top: 10.5%;
  background-color: #f3f0f0de;
  position: relative;

  & .filters__title {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    font-family: Inter;
    font-size: 150%;
  }

  & .filters__inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;

    & label {
      font-family: Inter;
      font-size: 14px;
      font-weight: normal;
      line-height: 18.72px;
      letter-spacing: 0px;
      color: #353333;
    }

    h6{
      font-family: Inter;
      font-size: 80%;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

  }
}

.tienda__products {
  box-sizing: border-box;
  width: 85vw;
  margin: 0 auto;
  padding: 3rem;
  gap: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & .products__card {
    box-sizing: border-box;
    padding: 0.9rem 0 0 0;
    min-width: 160.84px;
    min-height: 190.44px;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;

    & img {
      margin: 0 auto;
      width: 85%;
      object-fit: cover;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.411));
    }

    & h5 {
      margin-top: 0.2rem;
      font-family: Inter;
      font-size: 16px;
      font-weight: bold;
      line-height: 23.4px;
      margin-top: 0.3rem;
    }

    & h6 {
      margin-top: 0.1rem;
      font-weight: normal;
      font-family: Inter;
      font-size: 13px;
      line-height: 18.72px;
    }

    & .card__texts {
      padding: 1rem 1.5rem 0 1.5rem;
    }

    & .card__price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      & .card__price h6 {
        font-size: 16px;
        margin-top: 0.4rem;
      }

      & button {
        border-radius: 12px;
        background: #997023;
        color: #ffffff;
        padding: 0 0.6rem;
        font-family: Inter;
        font-size: 10px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }

  & .products__card:hover {
    
    background-color: #f0e8e8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    box-shadow: none;
    scale: 1.1;
  }
}


/*---------------*/


.footer__container {
  border-radius: 20px 20px 0px 0px;
  opacity: 0.9;
  background: #fffbfb;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  margin-top: 0.5rem;

  width: 98.79vw;

  h5 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 32.76px;
  }

  h6 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 32.76px;
  }

  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 32.76px;
  }

  figure {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem 0;
  }

  img {
    margin-right: 0.3rem;
  }
}

/*----------------------RESPONSIVE------------------------*/

@media (1px < width < 578px) {
  
  .container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
  }
  
  aside {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding: 2rem 1rem;
    margin-top: -1rem;
    position: relative;
  
    & .filters__title {
      margin-top: 0;
      font-family: Inter;
      font-size: 140%;
    }
  
    & .filters__inputs {
      display: none;
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }
  }
  
  .tienda__products {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
    gap: 0;
    margin-top: -3rem;
    justify-content: space-between;
  
    & .products__card {
      box-sizing: border-box;
      padding: 0.9rem 0 0 0;
      min-width: 135.84px;
      min-height: 240.44px;
      justify-content: space-between;
  
      margin-bottom: 1rem;
      margin-right: 0rem;

      & .card__price {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 10px;
  
        & .card__price h6 {
          font-size: 16px;
          margin-top: 0.6rem;
          margin-bottom: 0.6rem;
        }
  
        & button {
          border-radius: 12px;
          padding: 0 0.4rem;
          font-size: 8px;
        }
      }
    }
  }
}